<style>
  body{
  }
  .content{
    margin:0px auto;
    margin-top:100px;
    width:800px;
    height:500px;
    text-align:center;
    font-family:helvetica, arial, sans-serif;
    position:relative;
  }
  .menu{
    font-weight:200;
    float:left;
    height:25%;
    width:99%;
  }
  .explain{
    font-weight:200;
    float:right;
    height:100%;
    width:49%;
  }
  .explain-content{
    font-size:18px;
  }
  .menu-item{
    cursor:pointer;
    font-size:36px;
    width:100%;
  }
  #twitter-follow-link-container{
    position:absolute;
    bottom:10px;
    right:20px;
  }
  .menu-item:hover{
    color:#0590C4;
  }
  .photo{
    opacity:0.9;
    border:3px solid #F6F792;
    height:160px;
  }
  a{
    color:000000;
    text-decoration:none;
  }
  a:hover{
    color:#0590C4;
  }
</style>