<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array>
		<string>web3.md</string>
		<string>reading.md</string>
		<string>italy.md</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict>
			<key>italy.md</key>
			<dict>
				<key>lastModification</key>
				<real>514689102.59892303</real>
				<key>version</key>
				<dict>
					<key>9e035ab81b7c28ec7dcb21ba5ac760912a856954fd69d6a302a2eb74f8b97644</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>reading.md</key>
			<dict>
				<key>lastModification</key>
				<real>525125829.95521897</real>
				<key>version</key>
				<dict>
					<key>9e035ab81b7c28ec7dcb21ba5ac760912a856954fd69d6a302a2eb74f8b97644</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>web3.md</key>
			<dict>
				<key>lastModification</key>
				<real>525125839.79516602</real>
				<key>version</key>
				<dict>
					<key>9e035ab81b7c28ec7dcb21ba5ac760912a856954fd69d6a302a2eb74f8b97644</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>9e035ab81b7c28ec7dcb21ba5ac760912a856954fd69d6a302a2eb74f8b97644</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
