<div id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-avatar-wrap">
      <img class="sidebar-avatar" data-src="{{ site.baseurl }}/images/avatar-small.gif" alt="avatar" crossorigin="anonymous">
      <pre class="ascii-avatar" aria-hidden="true"></pre>
      <canvas class="pixel-avatar" width="48" height="48"></canvas>
    </div>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">$ chris-kurdziel<span class="cursor">_</span></a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  </div>

  <nav id="sidebar-nav-links">
    {% if site.sidebar_home_link %}
      <a class="home-link {% if page.url == '/' %} active{% endif %}"
          href="{{ site.baseurl }}/">[home]</a>
    {% endif %}
    {% include page-links.html %}
    {% include category-links.html %}
  </nav>

  <nav id="sidebar-icon-links">
    <a href="https://github.com/ckurdziel/">[github]</a>
    <a href="https://twitter.com/ckurdziel/">[twitter]</a>
    <a href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">[rss]</a>
  </nav>

  <div class="sidebar-hint">
    <span>↑↓ navigate</span>
    <span>←→ panes</span>
  </div>
</div>
