// Posts and pages

article + *, .post-body ~ section {
  padding-top: 2rem;
  border-top: 1px solid color-mix(in srgb, var(--accent) 30%, transparent);
  margin-top: 2rem;

  > h2:first-child, > h3:first-child {
    margin-top: 0;
  }
}

.post, .page {
  .content {
    li + li {
      margin-top: .25rem;
    }
  }
}

.page-title,
.post-title,
.post-title a {
  color: var(--accent);
}
.page-title,
.post-title {
  margin-top: 0;
}

h2.post-title, h2.page-title {
  font-size: 2rem;
}

.post-meta {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: color-mix(in srgb, var(--text) 70%, transparent);
}

.posts-list {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: color-mix(in srgb, var(--text) 55%, transparent);
      white-space: nowrap;
    }

    a:hover {
      color: var(--link);
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
