// Reset
//
// Minimal box-model reset and base element defaults.

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Fira Code", monospace;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  @media (min-width: 49rem) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

main, article, section { display: block; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 0 1rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid var(--accent);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid var(--accent);
}

th {
  text-align: left;
}
